@model StudentsProgress.Web.Data.Entities.UserRating

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Student.User.LastName @Model.Student.User.FirstName's rating</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemestrPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemestrPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Faculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
